/**
* @name BigheadCord
* @author MrBighead#8828
* @description Discord, but cooler
* @version 2.2.1
*/

  /* Avatars - Default value : 5px */
  --avatar-radius: 360px;

  /* Status - Default value : 3px */
  --status-radius: 3px;

  /* Servers - Default value : 8px */
  --server-radius: 8px;

  /* Mention - Default value : #F04747 */
  --mention-color: #f04747;

  /* Unread - Default value : #7289DA */
  --unread-color: #7289da;

.layer-86YKbF,
.standardSidebarView-E9Pc3j {
  background-color: var(--main-alt);
}
  /* Avatars - Default value : 5px */
  --avatar-radius: 360px;

  /* Status - Default value : 3px */
  --status-radius: 3px;

  /* Servers - Default value : 8px */
  --server-radius: 8px;
.contentRegion-3HkfJJ {
  background-color: var(--main-color);
  border-radius: var(--card-radius-big) var(--card-radius-big) 0 var(--card-radius-big);
}
.contentRegion-3HkfJJ .contentRegionScroller-2_GT_N {
  background-color: transparent;
}

.closeButton-PCZcma {
  position: relative;
  border: none;
}
.closeButton-PCZcma:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(var(--md-ripple-color), 0.1);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
  transition: 300ms ease;
  z-index: 4;
}
.closeButton-PCZcma:hover:after {
  opacity: 1;
  transform: scale(1.2);
  animation: scale 150ms var(--default-animation), opacity 150ms ease;
}
.closeButton-PCZcma:active:after {
  background-color: hsla(var(--md-ripple-color), 0.2);
}
.closeButton-PCZcma:hover {
  background-color: transparent !important;
}
.closeButton-PCZcma:active {
  transform: translateX(0px);
}

.noticeRegion-qjyUVg,
.saveNoticeContainer-3t-pI1 {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.saveNoticeContainer-3t-pI1 {
  left: 252px;
}

.container-20TyK0 {
  padding: 8px 8px 8px 16px;
  background-color: var(--popout-color) !important;
  border-radius: 4px;
  box-shadow: var(--shadow-2dp) !important;
}
.container-20TyK0 .actions-2Iq6nn {
  flex-direction: row-reverse;
}
.container-20TyK0 .lookFilled-1H2Jvj {
  --button-padding: 0 12px;
  --button-background: transparent;
  --button-text-color: hsl(var(--accent-hsl--material-you));
  --accent-button-action-hover: 0.14;
  --accent-button-action-active: 0.21;
}
.container-20TyK0 .lookFilled-1H2Jvj:after {
  --accent-button-action: hsl(var(--button-link-accent-color));
}
.container-20TyK0 .resetButton-jFzA0U {
  --button-padding: 0;
  min-width: var(--button-height);
  margin-left: 0;
  font-size: 0;
}
.container-20TyK0 .resetButton-jFzA0U:before {
  display: flex;
  position: absolute;
  content: " ";
  width: 18px;
  height: 18px;
  background-color: var(--text-normal);
  -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/close.svg);
  mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/close.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transform: scale(1.333333);
}

.keybind-13vtq8 {
  color: var(--text-muted) !important;
}

.micTestButton-2ga9tS {
  width: auto;
}